.prova {
    width: 500px;
    margin: 50px auto;
    border-bottom: 1px solid lightslategray;
    margin-bottom: 10px;
}

.prova h1 {
    background-color: #0B5ED7;
    width: 400px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.questoes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-position: inside;
}

.questoes > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-right-radius: 10px;
    background-color: #FFCA2C;
}

.questoes > div > div > h2 {
    padding-left: 10px;
}

.questoes > div > div > input {
    transform: scale(2);
    margin-right: 10px;
}

.questoes > div > p {
    border: 1px solid rgba(128, 128, 128, 0.623);
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(202, 202, 202, 0.514);
    white-space: pre-wrap;
    text-align: justify;
}