#home-provas {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
}

#menu-home-busca {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#busca {
    display: flex;
    align-items: center;
    position: relative;
    width:850px;
    gap: 5px;
}

#busca > i {
    position: absolute;
    left: 15px;
}

#busca > input {
    height: 40px;
    padding-left: 40px;
}

#home-prova-loop {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card-prova{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    margin: 50px auto;
    border: 1px solid rgb(201, 201, 201);
    padding: 20px; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-prova > div {
    margin-left: 3px;
}

.card-links-prova {
    display: flex;
    gap: 10px;
}

.jumpscare {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.jumpscare > span {
    padding: 1em;
    border: 1px solid #000;
    margin: 0 auto;
    text-align: center;
    max-width: 60%;
    margin: 1em auto;
    border-radius: 5px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#helpers {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
}

#helpers > button {
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
}
